.wrapper {
}
.page {
    padding: 90px 0 30px 0;
}
.page__section {
    padding: 30px;
    min-width: 1200px;
    margin: 0 auto;
}
.page__section_1 {
    background: #794f45;
}
.page__section_2 {
    background: #624579;
}
.page__section_3 {
    background: #45794e;
}


.page__title {
    font-size: 40px;
    margin: 0 0 20px 0;
}

.page__text p{
   margin: 0 0 20px 0;
}
.page__text {
    font-size: 16px;
    line-height: 150%;
}
.page__sub-title {
    font-size: 30px;
    margin: 0 0 20px 0;
}

p, h1, h2 {
    color: #fff;
}

.header {
}
.header__container {
}
.header__logo {
}
.header__menu {
}
.menu {
}
.menu__icon {
}
.menu__body {
}
.menu__list {
}
.menu__link {
}
.menu__sub-list {
}
.menu__sub-link {
}
